h1 {
  font-size: 2rem;
  margin: 0.63rem 0rem 0.31rem 0rem;
}

h2 {
  margin: 0.63rem 0rem 0.31rem 0rem;
}

p {
  text-align: left;
}

.site-collapse-custom-collapse {
  font-size: 0.92rem;
}

.image {
  margin: auto;
  width: 50%;
}
