h1{
  font-size: 2rem;
  margin: 0.63rem 0rem 0.31rem 0rem;
}

h2{
  margin: 0.63rem 0rem 0.31rem 0rem;
}

p{
  text-align: left;
}

.Panel{
  font-size: 5rem;
}

.site-collapse-custom-collapse{
  font-size: .92rem;
}